<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>Cycling</title>

    <link rel="stylesheet" href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" />
    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/pelotonstyle.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" defer></script>
    <script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js" defer></script>
    <script src="{{url_for('static', filename='PelotonCycling.js')}}" defer></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">

</head>
<body>
    <div class="searchBox">
        <br>
        <div class="textbox">
            <input type="text" name="title" id="title" class="form-control" placeholder="Search Title" >
            <input type="checkbox" id="excludetitle" name="excludetitle" value="exclude">
            <label for="excludetitle">Exclude Title</label>
        </div>
        <div style="margin-bottom:0.5em;"></div>
        <div class="textbox">
            <input type="text" name="artist" id="artist" class="form-control" placeholder="Search Song Artist" >
            <input type="checkbox" id="excludeartist" name="excludeartist" value="exclude">
            <label for="excludeartist">Exclude Artist</label>
        </div>
        <div style="margin-bottom:0.5em;"></div>
        <div class="textbox">Difficulty:&nbsp;&nbsp;&nbsp;&nbsp;
            <select data-placeholder="Choose Difficulty" multiple class="chosen-select4" name="multdifficultycat" id="multdifficultycat">
                  <option value="Very Easy">Very Easy</option>
                  <option value="Easy">Easy</option>
                  <option value="Medium">Medium</option>
                  <option value="Hard">Hard</option>
                  <option value="Very Hard">Very Hard</option>
                  <option value="Power Zone">Power Zone</option>
            </select>
        </div>
        <div style="margin-bottom:0.5em;"></div>
        <div class="textbox">Category:&nbsp;&nbsp;&nbsp;&nbsp;
            <select data-placeholder="Choose Category" multiple class="chosen-select3" name="multtypecat" id="multtypecat">
                  <option value="Power Zone">Power Zone</option>
                  <option value="Intervals">Intervals</option>
                  <option value="Music">Music</option>
                  <option value="Low Impact">Low Impact</option>
                  <option value="Theme">Theme</option>
                  <option value="Climb">Climb</option>
                  <option value="Heart Rate Zone">Heart Rate Zone</option>
                  <option value="Beginner">Beginner</option>
                  <option value="Groove">Groove</option>
                  <option value="Pro Cyclist">Pro Cyclist</option>
                  <option value="Live DJ">Live DJ</option>
            </select>
        </div>
        <div style="margin-bottom:0.5em;"></div>
        <div class="textbox">Duration:&nbsp;&nbsp;&nbsp;
            <select data-placeholder="Choose Class Duration..." multiple class="chosen-select2" name="multDuration" id="multDuration">
                <option value="5">5 Minutes</option>
                <option value="10">10 Minutes</option>
                <option value="15">15 Minutes</option>
                <option value="20">20 Minutes</option>
                <option value="30">30 Minutes</option>
                <option value="45">45 Minutes</option>
                <option value="60">60 Minutes</option>
                <option value="75">75 Minutes</option>
                <option value="90">90 Minutes</option>
            </select>
        </div>
        <div style="margin-bottom:0.5em;"></div>
        <div class="textbox">Instructors:
            <select data-placeholder="Choose Instructors..." multiple class="chosen-select" name="instructorlist" id="instructorlist">
              <option value="Matt Wilpers">Matt Wilpers</option>
              <option value="Sam Yo">Sam Yo</option>
              <option value="Tunde Oyeneyin">Tunde Oyeneyin</option>
              <option value="Hannah Frankson">Hannah Frankson</option>
              <option value="Alex Toussaint">Alex Toussaint</option>
              <option value="Ben Alldis">Ben Alldis</option>
              <option value="Cody Rigsby">Cody Rigsby</option>
              <option value="Bradley Rose">Bradley Rose</option>
              <option value="Ally Love">Ally Love</option>
              <option value="Olivia Amato">Olivia Amato</option>
              <option value="Robin Arzon">Robin Arzon</option>
              <option value="Jenn Sherman">Jenn Sherman</option>
              <option value="Denis Morton">Denis Morton</option>
              <option value="Emma Lovewell">Emma Lovewell</option>
              <option value="Erik Jäger">Eric Jäger</option>
              <option value="Hannah Corbin">Hannah Corbin</option>
              <option value="Irene Scholz">Irene Scholz</option>
              <option value="Jess King">Jess King</option>
              <option value="Kendall Toole">Kendall Toole</option>
              <option value="Leanne Hainsby">Leanne Hainsby</option>
              <option value="Christine D'Ercole">Christine D'Ercole</option>
              <option value="Christian Vande Velde">Christian Vande Velde</option>
            </select>
        </div>
        <div style="margin-bottom:0.5em;"></div>
            <div class="textbox">Sort By:&nbsp
            <select data-placeholder="Sort By..." class="sortby" name="sortby" id="sortby">
                  <option value="Newest">Newest</option>
                  <option value="Oldest">Oldest</option>
                  <option value="User Rating">User Rating</option>
                  <option value="Hardest">Hardest Output</option>
                  <option value="Easiest">Easiest Output</option>
                  <option value="Peloton Hardest">Hardest Difficulty</option>
                  <option value="Peloton Easiest">Easiest Difficulty</option>
            </select>
        </div>
        <br>
        <div><button type="button" id="submitBtn" class="submitbutton">Submit</button></div>
    </div>

    <br><div class="linkBox"><input type="button" value="Copy Search Url" onclick="Copy();"/><br><textarea id="sharelink" rows="2" cols="40"></textarea></div>

    <div class="flexContainer" id ="datalist" > </div>

</body>
</html>
